ul.cloud,
.cloud > ul {
  display: inline;
  list-style-type: none;

  li {
    list-style: none;
    display: inline;

    &:nth-of-type(3n + 1) {
      font-size: 1.2em;
    }
    &:nth-of-type(4n+3) {
      font-size: 1.5em;
    }
    &:nth-of-type(5n - 3) {
      font-size: 0.8em;
    }
  }

}